# Project group 30

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.set_printoptions(precision = 4, suppress = True)

In [2]:
#pip install pycountry_convert
from pycountry_convert import country_name_to_country_alpha2

In [3]:
population = 'population.csv'
df_population= pd.read_csv(population)
medals = 'medals.csv'
df_medals= pd.read_csv(medals)
cpi = 'cpi.csv'
df_cpi= pd.read_csv(cpi)

#df_population

In [4]:
import pycountry
import pycountry_convert as pcc
from fuzzywuzzy import fuzz, process

# Create a list of all unique countries in the dataframe
countries = df_medals['Country'].unique().tolist()
print(countries)

#Create a list of all standard country names
countries_standard = [country.name for country in pycountry.countries]
#print(countries_standard)

for i in range(len(df_medals)):
    temp = df_medals['Country'][i]
    country = 'c'
    try:
        #print(pycountry.countries.lookup(temp))
        country = pycountry.countries.lookup(temp)
        #print(country)
    except LookupError as e:
        print('a')
        #continue
    if country == 'c':
        #print('k')
        try:
            match = process.extractOne(str(temp), countries_standard, scorer=fuzz.token_sort_ratio)
            print(match)
            print('kk')
            if match[1] > 74:
                print(match[0])
                c = pycountry.countries.get(name=match[0])
                country_code=c.alpha_3
                #country_code = pcc.country_alpha3_to_country_name(match[0])
                df_medals.loc[i, 'Country'] = country_code
            else:
                df_medals.loc[i, 'Country'] = None
        except ValueError as e:
            df_medals.loc[i, 'Country'] = None
    else:
        df_medals.loc[i, 'Country'] = country.alpha_3
    
#print(countries)
df_medals['Country']

/opt/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

['United States of America', "People's Republic of China", 'Japan', 'Great Britain', 'ROC', 'Australia', 'Netherlands', 'France', 'Germany', 'Italy', 'Canada', 'Brazil', 'New Zealand', 'Cuba', 'Hungary', 'Republic of Korea', 'Poland', 'Czech Republic', 'Kenya', 'Norway', 'Jamaica', 'Spain', 'Sweden', 'Switzerland', 'Denmark', 'Croatia', 'Islamic Republic of Iran', 'Serbia', 'Belgium', 'Bulgaria', 'Slovenia', 'Uzbekistan', 'Georgia', 'Chinese Taipei', 'Turkey', 'Greece', 'Uganda', 'Ecuador', 'Ireland', 'Israel', 'Qatar', 'Bahamas', 'Kosovo', 'Ukraine', 'Belarus', 'Romania', 'Venezuela', 'India', 'Hong Kong, China', 'Philippines', 'Slovakia', 'South Africa', 'Austria', 'Egypt', 'Indonesia', 'Ethiopia', 'Portugal', 'Tunisia', 'Estonia', 'Fiji', 'Latvia', 'Thailand', 'Bermuda', 'Morocco', 'Puerto Rico', 'Colombia', 'Azerbaijan', 'Dominican Republic', 'Armenia', 'Kyrgyzstan', 'Mongolia', 'Argentina', 'San Marino', 'Jordan', 'Malaysia', 'Nigeria', 'Bahrain', 'Saudi Arabia', 'Lithuania', 'North Macedonia', 'Namibia', 'Turkmenistan', 'Kazakhstan', 'Mexico', 'Finland', 'Botswana', 'Burkina Faso', "Côte d'Ivoire", 'Ghana', 'Grenada', 'Kuwait', 'Republic of Moldova', 'Syrian Arab Republic']
a
('Eritrea', 60)
kk
a
('Morocco', 60)
kk
a
('Korea, Republic of', 100)
kk
Korea, Republic of
a
('China', 53)
kk
a
('Lesotho', 46)
kk
a
('Hong Kong', 75)
kk
Hong Kong

0      USA
1      CHN
2      JPN
3     None
4     None
      ...
88     GHA
89     GRD
90     KWT
91     MDA
92     SYR
Name: Country, Length: 93, dtype: object

In [5]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df_medals)

   Country  Gold Medal  Silver Medal  Bronze Medal  Total  Rank By Total
0      USA          39            41            33    113              1
1      CHN          38            32            18     88              2
2      JPN          27            14            17     58              5
3     None          22            21            22     65              4
4     None          20            28            23     71              3
5      AUS          17             7            22     46              6
6      NLD          10            12            14     36              9
7      FRA          10            12            11     33             10
8      DEU          10            11            16     37              8
9      ITA          10            10            20     40              7
10     CAN           7             6            11     24             11
11     BRA           7             6             8     21             12
12     NZL           7             6             7     20             13
13     CUB           7             3             5     15             18
14     HUN           6             7             7     20             13
15     KOR           6             4            10     20             13
16     POL           4             5             5     14             19
17     CZE           4             4             3     11             23
18     KEN           4             4             2     10             25
19     NOR           4             2             2      8             29
20     JAM           4             1             4      9             26
21     ESP           3             8             6     17             17
22     SWE           3             6             0      9             26
23     CHE           3             4             6     13             20
24     DNK           3             4             4     11             23
25     HRV           3             3             2      8             29
26     IRN           3             2             2      7             33
27     SRB           3             1             5      9             26
28     BEL           3             1             3      7             33
29     BGR           3             1             2      6             39
30     SVN           3             1             1      5             42
31     UZB           3             0             2      5             42
32     GEO           2             5             1      8             29
33    None           2             4             6     12             22
34     TUR           2             2             9     13             20
35     GRC           2             1             1      4             47
36     UGA           2             1             1      4             47
37     ECU           2             1             0      3             60
38     IRL           2             0             2      4             47
39     ISR           2             0             2      4             47
40     QAT           2             0             1      3             60
41     BHS           2             0             0      2             66
42    None           2             0             0      2             66
43     UKR           1             6            12     19             16
44     BLR           1             3             3      7             33
45     ROU           1             3             0      4             47
46     VEN           1             3             0      4             47
47     IND           1             2             4      7             33
48     HKG           1             2             3      6             39
49     PHL           1             2             1      4             47
50     SVK           1             2             1      4             47
51     ZAF           1             2             0      3             60
52     AUT           1             1             5      7             33
53     EGY           1             1             4      6             39
54     IDN           1             1             3      5             42
55     ETH           1             1             2      4             47
56     PRT           1             1             2      4             47
57     TUN           1             1             0      2             66
58     EST           1             0             1      2             66
59     FJI           1             0             1      2             66
60     LVA           1             0             1      2             66
61     THA           1             0             1      2             66
62     BMU           1             0             0      1             77
63     MAR           1             0             0      1             77
64     PRI           1             0             0      1             77
65     COL           0             4             1      5             42
66     AZE           0             3             4      7             33
67     DOM           0             3             2      5             42
68     ARM           0             2             2      4             47
69     KGZ           0             2             1      3             60
70     MNG           0             1             3      4             47
71     ARG           0             1             2      3             60
72     SMR           0             1             2      3             60
73     JOR           0             1             1      2             66
74     MYS           0             1             1      2             66
75     NGA           0             1             1      2             66
76     BHR           0             1             0      1             77
77     SAU           0             1             0      1             77
78     LTU           0             1             0      1             77
79     MKD           0             1             0      1             77
80     NAM           0             1             0      1             77
81     TKM           0             1             0      1             77
82     KAZ           0             0             8      8             29
83     MEX           0             0             4      4             47
84     FIN           0             0             2      2             66
85     BWA           0             0             1      1             77
86     BFA           0             0             1      1             77
87     CIV           0             0             1      1             77
88     GHA           0             0             1      1             77
89     GRD           0             0             1      1             77
90     KWT           0             0             1      1             77
91     MDA           0             0             1      1             77
92     SYR           0             0             1      1             77

[('Czechia', 100),
 ('Korea, Republic of', 64),
 ('Dominican Republic', 62),
 ('Central African Republic', 61),
 ('Moldova, Republic of', 59)]

['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Åland Islands', 'Albania', 'Andorra', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antarctica', 'French Southern Territories', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina', 'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda', 'Bolivia, Plurinational State of', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Bouvet Island', 'Botswana', 'Central African Republic', 'Canada', 'Cocos (Keeling) Islands', 'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Curaçao', 'Christmas Island', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands (Malvinas)', 'France', 'Faroe Islands', 'Micronesia, Federated States of', 'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana', 'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'British Indian Ocean Territory', 'Ireland', 'Iran, Islamic Republic of', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Saint Kitts and Nevis', 'Korea, Republic of', 'Kuwait', "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao', 'Saint Martin (French part)', 'Morocco', 'Monaco', 'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Montserrat', 'Martinique', 'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico', "Korea, Democratic People's Republic of", 'Portugal', 'Paraguay', 'Palestine, State of', 'French Polynesia', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'South Georgia and the South Sandwich Islands', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Saint Pierre and Miquelon', 'Serbia', 'South Sudan', 'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Taiwan, Province of China', 'Tanzania, United Republic of', 'Uganda', 'Ukraine', 'United States Minor Outlying Islands', 'Uruguay', 'United States', 'Uzbekistan', 'Holy See (Vatican City State)', 'Saint Vincent and the Grenadines', 'Venezuela, Bolivarian Republic of', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']