# Project group 30

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.set_printoptions(precision = 4, suppress = True)

In [2]:
#pip install pycountry_convert
from pycountry_convert import country_name_to_country_alpha2

In [3]:
population = 'population.csv'
df_population= pd.read_csv(population)
medals = 'medals.csv'
df_medals= pd.read_csv(medals)
cpi = 'cpi.csv'
df_cpi= pd.read_csv(cpi)

#df_population

In [6]:
import pycountry
import pycountry_convert as pcc
from fuzzywuzzy import fuzz, process

# Create a list of all unique countries in the dataframe
countries = df_medals['Country'].unique().tolist()
#print(countries)

#Create a list of all standard country names
countries_standard = [country.name for country in pycountry.countries]
#print(countries_standard)

for i in range(len(df_medals)):
    temp = df_medals['Country'][i]
    country = 'c'
    try:
        #print(pycountry.countries.lookup(temp))
        country = pycountry.countries.lookup(temp)
        #print(country)
    except LookupError as e:
        print('a')
        #continue
    if country == 'c':
        #print('k')
        try:
            match = process.extractOne(str(temp), countries_standard, scorer=fuzz.token_sort_ratio)
            #print(match)
            #print('kk')
            if match[1] > 74:
                #print(match[0])
                c = pycountry.countries.get(name=match[0])
                country_code=c.alpha_3
                #country_code = pcc.country_alpha3_to_country_name(match[0])
                df_medals.loc[i, 'Country'] = country_code
            else:
                df_medals.loc[i, 'Country'] = None
        except ValueError as e:
            df_medals.loc[i, 'Country'] = None
    else:
        df_medals.loc[i, 'Country'] = country.alpha_3

#manually converting few instances
#Kosovo doesnt have ISO3
df_medals.at[3, 'Country'] = 'GBR'
df_medals.at[4, 'Country'] = 'RUS'
df_medals.at[33, 'Country'] = 'TWN'

#print(countries)
df_medals['Country']

a

0     USA
1     CHN
2     JPN
3     GBR
4     RUS
     ...
88    GHA
89    GRD
90    KWT
91    MDA
92    SYR
Name: Country, Length: 93, dtype: object

In [7]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df_medals)

   Country  Gold Medal  Silver Medal  Bronze Medal  Total  Rank By Total
0      USA          39            41            33    113              1
1      CHN          38            32            18     88              2
2      JPN          27            14            17     58              5
3      GBR          22            21            22     65              4
4      RUS          20            28            23     71              3
5      AUS          17             7            22     46              6
6      NLD          10            12            14     36              9
7      FRA          10            12            11     33             10
8      DEU          10            11            16     37              8
9      ITA          10            10            20     40              7
10     CAN           7             6            11     24             11
11     BRA           7             6             8     21             12
12     NZL           7             6             7     20             13
13     CUB           7             3             5     15             18
14     HUN           6             7             7     20             13
15     KOR           6             4            10     20             13
16     POL           4             5             5     14             19
17     CZE           4             4             3     11             23
18     KEN           4             4             2     10             25
19     NOR           4             2             2      8             29
20     JAM           4             1             4      9             26
21     ESP           3             8             6     17             17
22     SWE           3             6             0      9             26
23     CHE           3             4             6     13             20
24     DNK           3             4             4     11             23
25     HRV           3             3             2      8             29
26     IRN           3             2             2      7             33
27     SRB           3             1             5      9             26
28     BEL           3             1             3      7             33
29     BGR           3             1             2      6             39
30     SVN           3             1             1      5             42
31     UZB           3             0             2      5             42
32     GEO           2             5             1      8             29
33     TWN           2             4             6     12             22
34     TUR           2             2             9     13             20
35     GRC           2             1             1      4             47
36     UGA           2             1             1      4             47
37     ECU           2             1             0      3             60
38     IRL           2             0             2      4             47
39     ISR           2             0             2      4             47
40     QAT           2             0             1      3             60
41     BHS           2             0             0      2             66
42    None           2             0             0      2             66
43     UKR           1             6            12     19             16
44     BLR           1             3             3      7             33
45     ROU           1             3             0      4             47
46     VEN           1             3             0      4             47
47     IND           1             2             4      7             33
48     HKG           1             2             3      6             39
49     PHL           1             2             1      4             47
50     SVK           1             2             1      4             47
51     ZAF           1             2             0      3             60
52     AUT           1             1             5      7             33
53     EGY           1             1             4      6             39
54     IDN           1             1             3      5             42
55     ETH           1             1             2      4             47
56     PRT           1             1             2      4             47
57     TUN           1             1             0      2             66
58     EST           1             0             1      2             66
59     FJI           1             0             1      2             66
60     LVA           1             0             1      2             66
61     THA           1             0             1      2             66
62     BMU           1             0             0      1             77
63     MAR           1             0             0      1             77
64     PRI           1             0             0      1             77
65     COL           0             4             1      5             42
66     AZE           0             3             4      7             33
67     DOM           0             3             2      5             42
68     ARM           0             2             2      4             47
69     KGZ           0             2             1      3             60
70     MNG           0             1             3      4             47
71     ARG           0             1             2      3             60
72     SMR           0             1             2      3             60
73     JOR           0             1             1      2             66
74     MYS           0             1             1      2             66
75     NGA           0             1             1      2             66
76     BHR           0             1             0      1             77
77     SAU           0             1             0      1             77
78     LTU           0             1             0      1             77
79     MKD           0             1             0      1             77
80     NAM           0             1             0      1             77
81     TKM           0             1             0      1             77
82     KAZ           0             0             8      8             29
83     MEX           0             0             4      4             47
84     FIN           0             0             2      2             66
85     BWA           0             0             1      1             77
86     BFA           0             0             1      1             77
87     CIV           0             0             1      1             77
88     GHA           0             0             1      1             77
89     GRD           0             0             1      1             77
90     KWT           0             0             1      1             77
91     MDA           0             0             1      1             77
92     SYR           0             0             1      1             77

In [20]:
df_merged1 = pd.merge(df_medals, df_population, left_on='Country', right_on='CCA3')
df_merged2 = pd.merge(df_merged1, df_cpi, left_on='Country', right_on='ISO3')
df_merged2
df = df_merged2[['Country_x','Total','2020 Population', 'CPI score 2019']]
df

   Country_x  Total  2020 Population  CPI score 2019
0        USA    113        335942003              69
1        CHN     88       1424929781              41
2        JPN     58        125244761              73
3        GBR     65         67059474              77
4        RUS     71        145617329              28
..       ...    ...              ...             ...
83       GHA      1         32180401              41
84       GRD      1           123663              53
85       KWT      1          4360444              40
86       MDA      1          3084847              32
87       SYR      1         20772595              13

[88 rows x 4 columns]

In [17]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

    Country_x CCA3 ISO3  Total  2020 Population  CPI score 2019
0         USA  USA  USA  113.0     3.359420e+08            69.0
1         CHN  CHN  CHN   88.0     1.424930e+09            41.0
2         JPN  JPN  JPN   58.0     1.252448e+08            73.0
3         GBR  GBR  GBR   65.0     6.705947e+07            77.0
4         RUS  RUS  RUS   71.0     1.456173e+08            28.0
5         AUS  AUS  AUS   46.0     2.567005e+07            77.0
6         NLD  NLD  NLD   36.0     1.743456e+07            82.0
7         FRA  FRA  FRA   33.0     6.448005e+07            69.0
8         DEU  DEU  DEU   37.0     8.332899e+07            80.0
9         ITA  ITA  ITA   40.0     5.950058e+07            53.0
10        CAN  CAN  CAN   24.0     3.788870e+07            77.0
11        BRA  BRA  BRA   21.0     2.131963e+08            35.0
12        NZL  NZL  NZL   20.0     5.061133e+06            87.0
13        CUB  CUB  CUB   15.0     1.130070e+07            48.0
14        HUN  HUN  HUN   20.0     9.750573e+06            44.0
15        KOR  KOR  KOR   20.0     5.184469e+07            59.0
16        POL  POL  POL   14.0     3.842837e+07            58.0
17        CZE  CZE  CZE   11.0     1.053095e+07            56.0
18        KEN  KEN  KEN   10.0     5.198578e+07            28.0
19        NOR  NOR  NOR    8.0     5.379839e+06            84.0
20        JAM  JAM  JAM    9.0     2.820436e+06            43.0
21        ESP  ESP  ESP   17.0     4.736381e+07            62.0
22        SWE  SWE  SWE    9.0     1.036897e+07            85.0
23        CHE  CHE  CHE   13.0     8.638613e+06            85.0
24        DNK  DNK  DNK   11.0     5.825641e+06            87.0
25        HRV  HRV  HRV    8.0     4.096868e+06            47.0
26        IRN  IRN  IRN    7.0     8.729019e+07            26.0
27        SRB  SRB  SRB    9.0     7.358005e+06            39.0
28        BEL  BEL  BEL    7.0     1.156172e+07            75.0
29        BGR  BGR  BGR    6.0     6.979175e+06            43.0
30        SVN  SVN  SVN    5.0     2.117641e+06            60.0
31        UZB  UZB  UZB    5.0     3.352666e+07            25.0
32        GEO  GEO  GEO    8.0     3.765912e+06            56.0
33        TWN  TWN  TWN   12.0     2.382146e+07            65.0
34        TUR  TUR  TUR   13.0     8.413543e+07            39.0
35        GRC  GRC  GRC    4.0     1.051223e+07            48.0
36        UGA  UGA  UGA    4.0     4.440461e+07            28.0
37        ECU  ECU  ECU    3.0     1.758860e+07            38.0
38        IRL  IRL  IRL    4.0     4.946119e+06            74.0
39        ISR  ISR  ISR    4.0     8.757489e+06            60.0
40        QAT  QAT  QAT    3.0     2.760385e+06            62.0
41        BHS  BHS  BHS    2.0     4.064710e+05            64.0
42        UKR  UKR  UKR   19.0     4.390967e+07            30.0
43        BLR  BLR  BLR    7.0     9.633740e+06            45.0
44        ROU  ROU  ROU    4.0     1.944204e+07            44.0
45        VEN  VEN  VEN    4.0     2.849045e+07            16.0
46        IND  IND  IND    7.0     1.396387e+09            41.0
47        HKG  HKG  HKG    6.0     7.500958e+06            76.0
48        PHL  PHL  PHL    4.0     1.121910e+08            34.0
49        SVK  SVK  SVK    4.0     5.456681e+06            50.0
50        ZAF  ZAF  ZAF    3.0     5.880193e+07            44.0
51        AUT  AUT  AUT    7.0     8.907777e+06            77.0
52        EGY  EGY  EGY    6.0     1.074651e+08            35.0
53        IDN  IDN  IDN    5.0     2.718580e+08            40.0
54        ETH  ETH  ETH    4.0     1.171909e+08            37.0
55        PRT  PRT  PRT    4.0     1.029819e+07            62.0
56        TUN  TUN  TUN    2.0     1.216172e+07            43.0
57        EST  EST  EST    2.0     1.329444e+06            74.0
58        FJI  FJI  NaN    2.0     9.204220e+05             NaN
59        LVA  LVA  LVA    2.0     1.897052e+06            56.0
60        THA  THA  THA    2.0     7.147566e+07            36.0
61        BMU  BMU  NaN    1.0     6.403100e+04             NaN
62        MAR  MAR  MAR    1.0     3.668877e+07            41.0
63        PRI  PRI  NaN    1.0     3.271564e+06             NaN
64        COL  COL  COL    5.0     5.093066e+07            37.0
65        AZE  AZE  AZE    7.0     1.028495e+07            30.0
66        DOM  DOM  DOM    5.0     1.099966e+07            28.0
67        ARM  ARM  ARM    4.0     2.805608e+06            42.0
68        KGZ  KGZ  KGZ    3.0     6.424874e+06            30.0
69        MNG  MNG  MNG    4.0     3.294335e+06            35.0
70        ARG  ARG  ARG    3.0     4.503603e+07            45.0
71        SMR  SMR  NaN    3.0     3.400700e+04             NaN
72        JOR  JOR  JOR    2.0     1.092872e+07            48.0
73        MYS  MYS  MYS    2.0     3.319999e+07            53.0
74        NGA  NGA  NGA    2.0     2.083274e+08            26.0
75        BHR  BHR  BHR    1.0     1.477469e+06            42.0
76        SAU  SAU  SAU    1.0     3.599711e+07            53.0
77        LTU  LTU  LTU    1.0     2.820267e+06            60.0
78        MKD  MKD  MKD    1.0     2.111072e+06            35.0
79        NAM  NAM  NAM    1.0     2.489098e+06            52.0
80        TKM  TKM  TKM    1.0     6.250438e+06            19.0
81        KAZ  KAZ  KAZ    8.0     1.897924e+07            34.0
82        MEX  MEX  MEX    4.0     1.259983e+08            29.0
83        FIN  FIN  FIN    2.0     5.529468e+06            86.0
84        BWA  BWA  BWA    1.0     2.546402e+06            61.0
85        BFA  BFA  BFA    1.0     2.152263e+07            40.0
86        CIV  CIV  CIV    1.0     2.681179e+07            35.0
87        GHA  GHA  GHA    1.0     3.218040e+07            41.0
88        GRD  GRD  GRD    1.0     1.236630e+05            53.0
89        KWT  KWT  KWT    1.0     4.360444e+06            40.0
90        MDA  MDA  MDA    1.0     3.084847e+06            32.0
91        SYR  SYR  SYR    1.0     2.077260e+07            13.0
92        NaN  NaN  SGP    NaN              NaN            85.0
93        NaN  NaN  LUX    NaN              NaN            80.0
94        NaN  NaN  ISL    NaN              NaN            78.0
95        NaN  NaN  ARE    NaN              NaN            71.0
96        NaN  NaN  URY    NaN              NaN            71.0
97        NaN  NaN  BTN    NaN              NaN            68.0
98        NaN  NaN  CHL    NaN              NaN            67.0
99        NaN  NaN  SYC    NaN              NaN            66.0
100       NaN  NaN  BRB    NaN              NaN            62.0
101       NaN  NaN  BRN    NaN              NaN            60.0
102       NaN  NaN  VCT    NaN              NaN            59.0
103       NaN  NaN  CPV    NaN              NaN            58.0
104       NaN  NaN  CYP    NaN              NaN            58.0
105       NaN  NaN  CRI    NaN              NaN            56.0
106       NaN  NaN  DMA    NaN              NaN            55.0
107       NaN  NaN  LCA    NaN              NaN            55.0
108       NaN  NaN  MLT    NaN              NaN            54.0
109       NaN  NaN  RWA    NaN              NaN            53.0
110       NaN  NaN  MUS    NaN              NaN            52.0
111       NaN  NaN  OMN    NaN              NaN            52.0
112       NaN  NaN  STP    NaN              NaN            46.0
113       NaN  NaN  VUT    NaN              NaN            46.0
114       NaN  NaN  MNE    NaN              NaN            45.0
115       NaN  NaN  SEN    NaN              NaN            45.0
116       NaN  NaN  SUR    NaN              NaN            44.0
117       NaN  NaN  SLB    NaN              NaN            42.0
118       NaN  NaN  BEN    NaN              NaN            41.0
119       NaN  NaN  GUY    NaN              NaN            40.0
120       NaN  NaN  LSO    NaN              NaN            40.0
121       NaN  NaN  TTO    NaN              NaN            40.0
122       NaN  NaN  LKA    NaN              NaN            38.0
123       NaN  NaN  TLS    NaN              NaN            38.0
124       NaN  NaN  GMB    NaN              NaN            37.0
125       NaN  NaN  TZA    NaN              NaN            37.0
126       NaN  NaN  VNM    NaN              NaN            37.0
127       NaN  NaN  BIH    NaN              NaN            36.0
128       NaN  NaN  KSV    NaN              NaN            36.0
129       NaN  NaN  PAN    NaN              NaN            36.0
130       NaN  NaN  PER    NaN              NaN            36.0
131       NaN  NaN  ALB    NaN              NaN            35.0
132       NaN  NaN  DZA    NaN              NaN            35.0
133       NaN  NaN  SLV    NaN              NaN            34.0
134       NaN  NaN  NPL    NaN              NaN            34.0
135       NaN  NaN  SWZ    NaN              NaN            34.0
136       NaN  NaN  ZMB    NaN              NaN            34.0
137       NaN  NaN  SLE    NaN              NaN            33.0
138       NaN  NaN  NER    NaN              NaN            32.0
139       NaN  NaN  PAK    NaN              NaN            32.0
140       NaN  NaN  BOL    NaN              NaN            31.0
141       NaN  NaN  GAB    NaN              NaN            31.0
142       NaN  NaN  MWI    NaN              NaN            31.0
143       NaN  NaN  DJI    NaN              NaN            30.0
144       NaN  NaN  GIN    NaN              NaN            29.0
145       NaN  NaN  LAO    NaN              NaN            29.0
146       NaN  NaN  MDV    NaN              NaN            29.0
147       NaN  NaN  MLI    NaN              NaN            29.0
148       NaN  NaN  MMR    NaN              NaN            29.0
149       NaN  NaN  TGO    NaN              NaN            29.0
150       NaN  NaN  LBN    NaN              NaN            28.0
151       NaN  NaN  LBR    NaN              NaN            28.0
152       NaN  NaN  MRT    NaN              NaN            28.0
153       NaN  NaN  PNG    NaN              NaN            28.0
154       NaN  NaN  PRY    NaN              NaN            28.0
155       NaN  NaN  AGO    NaN              NaN            26.0
156       NaN  NaN  BGD    NaN              NaN            26.0
157       NaN  NaN  GTM    NaN              NaN            26.0
158       NaN  NaN  HND    NaN              NaN            26.0
159       NaN  NaN  MOZ    NaN              NaN            26.0
160       NaN  NaN  CMR    NaN              NaN            25.0
161       NaN  NaN  CAF    NaN              NaN            25.0
162       NaN  NaN  COM    NaN              NaN            25.0
163       NaN  NaN  TJK    NaN              NaN            25.0
164       NaN  NaN  MDG    NaN              NaN            24.0
165       NaN  NaN  ZWE    NaN              NaN            24.0
166       NaN  NaN  ERI    NaN              NaN            23.0
167       NaN  NaN  NIC    NaN              NaN            22.0
168       NaN  NaN  KHM    NaN              NaN            20.0
169       NaN  NaN  TCD    NaN              NaN            20.0
170       NaN  NaN  IRQ    NaN              NaN            20.0
171       NaN  NaN  BDI    NaN              NaN            19.0
172       NaN  NaN  COG    NaN              NaN            19.0
173       NaN  NaN  COD    NaN              NaN            18.0
174       NaN  NaN  GNB    NaN              NaN            18.0
175       NaN  NaN  HTI    NaN              NaN            18.0
176       NaN  NaN  LBY    NaN              NaN            18.0
177       NaN  NaN  PRK    NaN              NaN            17.0
178       NaN  NaN  AFG    NaN              NaN            16.0
179       NaN  NaN  GNQ    NaN              NaN            16.0
180       NaN  NaN  SDN    NaN              NaN            16.0
181       NaN  NaN  YEM    NaN              NaN            15.0
182       NaN  NaN  SSD    NaN              NaN            12.0
183       NaN  NaN  SOM    NaN              NaN             9.0