# Project group 30

# What is the correlation between a country's corruption perception index and their likelihood of being awarded a medal during the Olympic Games?

In [1]:
#read necessary libraries 
import numpy as np
import pandas as pd
import pycountry
import pycountry_convert as pcc
from fuzzywuzzy import fuzz, process
pd.options.display.max_rows = 20
np.set_printoptions(precision = 4, suppress = True)

C:\Users\malgo\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Necesarry installations:

In [2]:
#pip install pycountry_convert
#pip install fuzzywuzzy

In [3]:
#loading the csv files into dataframes
population = 'population.csv'
df_population= pd.read_csv(population)
medals = 'medals.csv'
df_medals= pd.read_csv(medals)
cpi = 'cpi.csv'
df_cpi= pd.read_csv(cpi)

In [4]:
# Create a list of all unique countries in the dataframe
countries = df_medals['Country'].unique().tolist()

#Create a list of all standard country names
countries_standard = [country.name for country in pycountry.countries]

for i in range(len(df_medals)):
    temp = df_medals['Country'][i]
    country = 'c'
    try:
        country = pycountry.countries.lookup(temp)
    except LookupError as e:
        pass
    if country == 'c':
        try:
            match = process.extractOne(str(temp), countries_standard, scorer=fuzz.token_sort_ratio)
            if match[1] > 74:
                c = pycountry.countries.get(name=match[0])
                country_code=c.alpha_3
                df_medals.loc[i, 'Country'] = country_code
            else:
                df_medals.loc[i, 'Country'] = None
        except ValueError as e:
            df_medals.loc[i, 'Country'] = None
    else:
        df_medals.loc[i, 'Country'] = country.alpha_3

#manually converting few instances
#Kosovo doesn't have ISO3
df_medals.at[3, 'Country'] = 'GBR'
df_medals.at[4, 'Country'] = 'RUS'
df_medals.at[33, 'Country'] = 'TWN'

Display the original table with "Gold Medal", "Silver Medal" and "Bronze Medal" columns:

In [5]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
   print(df_medals)

   Country  Gold Medal  Silver Medal  Bronze Medal  Total  Rank By Total
0      USA          39            41            33    113              1
1      CHN          38            32            18     88              2
2      JPN          27            14            17     58              5
3      GBR          22            21            22     65              4
4      RUS          20            28            23     71              3
5      AUS          17             7            22     46              6
6      NLD          10            12            14     36              9
7      FRA          10            12            11     33             10
8      DEU          10            11            16     37              8
9      ITA          10            10            20     40              7
10     CAN           7             6            11     24             11
11     BRA           7             6             8     21             12
12     NZL           7             6             7     20             13
13     CUB           7             3             5     15             18
14     HUN           6             7             7     20             13
15     KOR           6             4            10     20             13
16     POL           4             5             5     14             19
17     CZE           4             4             3     11             23
18     KEN           4             4             2     10             25
19     NOR           4             2             2      8             29
20     JAM           4             1             4      9             26
21     ESP           3             8             6     17             17
22     SWE           3             6             0      9             26
23     CHE           3             4             6     13             20
24     DNK           3             4             4     11             23
25     HRV           3             3             2      8             29
26     IRN           3             2             2      7             33
27     SRB           3             1             5      9             26
28     BEL           3             1             3      7             33
29     BGR           3             1             2      6             39
30     SVN           3             1             1      5             42
31     UZB           3             0             2      5             42
32     GEO           2             5             1      8             29
33     TWN           2             4             6     12             22
34     TUR           2             2             9     13             20
35     GRC           2             1             1      4             47
36     UGA           2             1             1      4             47
37     ECU           2             1             0      3             60
38     IRL           2             0             2      4             47
39     ISR           2             0             2      4             47
40     QAT           2             0             1      3             60
41     BHS           2             0             0      2             66
42    None           2             0             0      2             66
43     UKR           1             6            12     19             16
44     BLR           1             3             3      7             33
45     ROU           1             3             0      4             47
46     VEN           1             3             0      4             47
47     IND           1             2             4      7             33
48     HKG           1             2             3      6             39
49     PHL           1             2             1      4             47
50     SVK           1             2             1      4             47
51     ZAF           1             2             0      3             60
52     AUT           1             1             5      7             33
53     EGY           1             1             4      6             39
54     IDN           1             1             3      5             42
55     ETH           1             1             2      4             47
56     PRT           1             1             2      4             47
57     TUN           1             1             0      2             66
58     EST           1             0             1      2             66
59     FJI           1             0             1      2             66
60     LVA           1             0             1      2             66
61     THA           1             0             1      2             66
62     BMU           1             0             0      1             77
63     MAR           1             0             0      1             77
64     PRI           1             0             0      1             77
65     COL           0             4             1      5             42
66     AZE           0             3             4      7             33
67     DOM           0             3             2      5             42
68     ARM           0             2             2      4             47
69     KGZ           0             2             1      3             60
70     MNG           0             1             3      4             47
71     ARG           0             1             2      3             60
72     SMR           0             1             2      3             60
73     JOR           0             1             1      2             66
74     MYS           0             1             1      2             66
75     NGA           0             1             1      2             66
76     BHR           0             1             0      1             77
77     SAU           0             1             0      1             77
78     LTU           0             1             0      1             77
79     MKD           0             1             0      1             77
80     NAM           0             1             0      1             77
81     TKM           0             1             0      1             77
82     KAZ           0             0             8      8             29
83     MEX           0             0             4      4             47
84     FIN           0             0             2      2             66
85     BWA           0             0             1      1             77
86     BFA           0             0             1      1             77
87     CIV           0             0             1      1             77
88     GHA           0             0             1      1             77
89     GRD           0             0             1      1             77
90     KWT           0             0             1      1             77
91     MDA           0             0             1      1             77
92     SYR           0             0             1      1             77

# Methodology

Medals scoring system:
    
    GOLD - 3 points
    SILVER - 2 points
    BRONZE - 1 point

In [6]:
#calculating the value of the medals earned
medal_values=[]
for i in range(len(df_medals)):
    temp_g=df_medals['Gold Medal'][i]
    #print(temp_g)
    temp_s=df_medals['Silver Medal'][i]
    temp_b=df_medals['Bronze Medal'][i]
    value=(temp_g*3)+(temp_s*2)+temp_b
    medal_values.append(value)
df_medals["Medal Value"] = medal_values

In [7]:
#merging medal df with population df
df_merged1 = pd.merge(df_medals, df_population, left_on='Country', right_on='CCA3')

#calculation medal value per million inhabitants
medals_per_million=[]
for i in range(len(df_merged1)):
    medal_adjusted = df_merged1['Medal Value'][i]/(df_merged1['2020 Population'][i]/1000000) 
    medals_per_million.append(medal_adjusted)
df_merged1["Medals per million"] = medals_per_million

#merging the resulting df with cpi df
df_merged2 = pd.merge(df_merged1, df_cpi, left_on='Country', right_on='ISO3')
df_merged2
df = df_merged2[['Country_x','Medal Value', 'Medals per million','2020 Population', 'CPI score 2019']]

Display a modified table with the weighted values of medals:

In [8]:
df

   Country_x  Medal Value  Medals per million  2020 Population  CPI score 2019
0        USA          232            0.690595        335942003              69
1        CHN          196            0.137551       1424929781              41
2        JPN          126            1.006030        125244761              73
3        GBR          130            1.938578         67059474              77
4        RUS          139            0.954557        145617329              28
..       ...          ...                 ...              ...             ...
83       GHA            1            0.031075         32180401              41
84       GRD            1            8.086493           123663              53
85       KWT            1            0.229334          4360444              40
86       MDA            1            0.324165          3084847              32
87       SYR            1            0.048140         20772595              13

[88 rows x 5 columns]

# Visualizations